<!DOCTYPE html>
<html>
  <head>
    <title>Calendarapp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Calendar app built with Ruby on Rails and React by Alex Kehaya" />
    <meta property="og:image" content="<%= image_url("reactapp.png") %>" />
  </head>

  <body class="container">
    <%= yield %>
  </body>
</html>
